# Dependencies
node_modules

# Build output
dist

# Environment files
.env
.env.*
!.env.example

# TypeScript
*.tsbuildinfo
tsconfig.tsbuildinfo

# IDE / editor
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea
*.swp
*.swo
*.swn
*~

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Testing (future)
coverage

# Misc
.cache